.dx2popularsmallimg{ float: left; width: 30%; margin-right: 10px;} 
.dx2popularposts a{font-size:14px;}
.dx2popularpostsidebar{margin-bottom:25px;}
.dx2popularlargeimg{width:100%;}
canvas {-moz-user-select: none;-webkit-user-select: none; -ms-user-select: none;}
